{% extends "base.html" %}

{% block title %}
关于
{% end %}

{% block header %}
<style> 
.intro {
    text-align:left;
}
.intro h1 {
    font-size: 24px;
}
.mark {
    padding: 20px 10px;
}
</style>
{% end %}

{% block body %}
<div class='intro'>
  <div class="col-md-2">
  </div>
  <div class="col-md-8 mark">
    <h1>项目介绍</h1>
    <p>本项目考虑到河南理工大学校园网, 因院系部门众多, 资源分散, 缺少统一的服务入口, 而一般的商业搜索引擎更新较慢, 且因校园网的ip限制, 导致用商业搜索引擎很难找到想要的信息. 为方便师生查找资源, 所以编写此搜索引擎. 为保持能搜索到最新的数据, 本系统会每天对校园网做一次索引, 因为本项目将部署在校园网内部, 因此能不受限制的抓取到几乎所有的校园网内容</p>
    <h1>项目使用技术介绍</h1>
    <p>本项目爬虫, 数据处理, 逻辑部分主要用<a href="https://www.python.org/">Python</a>编写, 网页数据保存在<a href="http://www.mysql.com/">MySQL</a>, 服务器系统为<a href="http://www.ubuntu.com/server/">Ubuntu</a> 12.04</p>
    <h1>关于作者</h1>
    <a href="#author"></a>
    <p>本人为河南理工大学电气工程与自动化学院电子信息与仪器专业2010级学生, 本项目为本人的毕业设计, 如果发现网站有任何问题, 欢迎反馈至<a href="mailto:xiaorongliao@gmail.com">xiaorongliao@gmail.com</a></p>
  </div>
  <div class="col-md-2">
  </div>
</div>

{% end %}

{% block footer %}

{% end %}
