{% extends "base.html" %}

{% block title %}
Hpu Search
{% end %}

{% block header %}
<link href="/static/css/index.css" rel="stylesheet">
{% end %}

{% block body %}
<div class='center'>
<h1>Hpu Search</h1>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <form role="form" method="get" action="/">
    <div class="input-group">
      <input type="text" id="kw" name="kw" class="form-control">
      <span class="input-group-btn">
        <button id="searchbutton" type="submit" class="btn btn-default" type="button">Search!</button>
      </span>
    </div>
    </form>
  </div>
  <div class="col-md-3">
  </div>
</div>

{% end %}

{% block footer %}
<script src="http://lib.sinaapp.com/js/jquery/1.8.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $( "#kw" ).focus();
});
</script>
{% end %}
