{% autoescape None %} 
{% extends "base.html" %}

{% block title %}
{{ msg }}
{% end %}

{% block header %}
<style>
#msg {
    text-align: center;
}
</style>
{% end %}

{% block body %}
<div class="center">
  <div class="col-md-3">
  </div>
  <div class="col-md-6" id="msg">
    <p>{{ msg }}</p>
  </div>
  <div class="col-md-3">
  </div>
</div>
{% end %}

{% block footer %}
<script src="/static/js/result.js"></script>
{% end %}
