{% autoescape None %} 
  {% for i in resultlist %}
  <div class="item">
    <h3 class="t"><a href="{{ i['url'] }}" target="_blank">{{ i['title'] }}</a></h3>
    <p class="ptext">{{ i['text'] }}<br>
      <em class="murl">{{ i['url'][:60] }}</em></p>
  </div>
  {% end %}
<div id="pagin">
<ul class="pagination">
  {% if curpage==pages[0] %}
  <li class="disabled"><span>上一页</span></li>
  {% else %}
  <li id="{{ curpage-1 }}"><span>上一页</span></li>
  {% end %}
  
  {% for i in pages %}
  {% if i == curpage %}
  <li id="{{ i }}" class="active"><span>{{ i }}</span></li>
  {% else %}
  <li id="{{ i }}"><span>{{ i }}</span></li>
  {% end %}
  {% end %}

  {% if curpage==pages[-1] %}
  <li class="disabled"><span>下一页</span></li>
  {% else %}
  <li id="{{ curpage+1 }}"><span>下一页</span></li>
  {% end %}
</ul>
</div>

