{% extends "base.html" %}

{% block title %}
{{ title }}--搜索结果
{% end %}

{% block header %}
<link href="/static/css/searchresult.css" rel="stylesheet">
{% end %}

{% block body %}
<div class="center">
  <div class="col-md-8">
    <div id="form">
      <h2>Hpu Search</h2>
      <form role="form" method="get" action="/">
        <div class="input-group">
          <input type="text" id="kw" name="kw" value="{{ title }}" class="form-control">
          <span class="input-group-btn">
            <button id="searchbutton" type="submit" class="btn btn-default" type="button">Search!</button>
          </span>
        </div>
      </form>
    </div> <!-- div from -->
    <div id="resultlist">
      <!-- will load resultlist -->
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
{% end %}

{% block footer %}
<!-- <script src="/static/js/jquery-1.11.1.min.js"></script> -->
<!-- <script src="/static/js/bootstrap.min.js"></script> -->
<!-- <script src="http://lib.sinaapp.com/js/bootstrap/latest/js/bootstrap.min.js"></script> -->
<script src="http://lib.sinaapp.com/js/jquery/1.8.3/jquery.min.js"></script>
<script src="/static/js/result.js"></script>
{% end %}
