{% extends "base.html" %}

{% block title %}
提交网址
{% end %}

{% block header %}
<style>
.title {
    text-align: center;
    padding: 20px 15px;
}
</style>
{% end %}

{% block body %}
<div class="center">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h2 class="title">提交网址</h2>

    <form class="form-horizontal" role="form" method="post" action="/submiturl">
      <div class="form-group">
        <label class="col-sm-2 control-label">url地址</label>
        <div class="col-sm-10">
          <input class="form-control" id="url" name="url" placeholder="http://www.example.com/index.html">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">页面标题</label>
        <div class="col-sm-10">
          <input class="form-control" id="title" name="title" placeholder="xx网首页">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
  </div> <!-- div from -->

  <div class="col-md-2">
  </div>
</div>
{% end %}

{% block footer %}
<!-- <script src="/static/js/result.js"></script> -->
{% end %}
