.center h1 {
    padding: 10px 15px;
}
.kw{
    color: #CC0000;
    font-style: normal;
}
#form {
    
}
#resultlist h3 {
    font-size: medium;
    color: #1A0DAB;
    margin-bottom: 2px;
}
#resultlist item {
    padding: 10px 10px;
    line-height: 5px;
}
#resultlist item p{
    line-height: 5px;
}

#resultlist li {
    cursor: pointer;
}
#pagin {
    padding-top: 60px;
}
.murl {
    color: #008000;
    font-style:normal;
}
.t {
    text-decoration:underline
}
#noreuslt {
    padding: 20px 10px;
}